.list {
  overflow: hidden;
}

.folder {
  position: relative;
}

.folder::before {
  content: "";
  position: absolute;
  background: green;
  top: -2px;
  right: -100em;
  bottom: -2px;
  left: -100em;
  opacity: 0.1;
  pointer-events: none;
  display: none;
}

.folder:hover::before {
  display: block;
}
