:root {
  --overlay-in-duration: 1.5s;
  --overlay-out-duration: 1.5s;
  /* --overlay-in-delay: 0s; */
  /* --overlay-out-duration: 2s;
  --overlay-out-delay: 5s; */
  --loader-delay: 3s;
  --loader-repeat-count: 2;
  --img-in-duration: 1.5s;
  /* --img-out-delay: 2s;
  --img-out-duration: 2s; */
}
